:root {
  --fgColor-accent: #009b91;
}

/* h1 gets accent color and strong parts in bold font */
h1 {
  color: var(--fgColor-accent);
}

h1 strong {
  font-weight: bold;
  color: var(--fgColor-accent);
}

/* h2-h5 gets default (= black) color with strong parts in accent color */
h2 strong,
h3 strong,
h4 strong,
h5 strong {
  color: var(--fgColor-accent);
}

s {
  /* redefining ~~text~~ as bold in accent color */
  color: var(--fgColor-accent);
  text-decoration: none;
  font-weight: bold;
}

section {
  font-size: 24px;
  /* default is 29px */
  padding-top: 50px;
  /* a little less blank space above heading */
}

.columns {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  /* Adds space between columns */
  grid-template-columns: repeat(2, 1fr);
}